@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

@font-face {
  font-family: "iconfont";
  /* project id 1652269 */
  src: url("//at.alicdn.com/t/font_1652269_3t8ii69z1nc.eot");
  src: url("//at.alicdn.com/t/font_1652269_3t8ii69z1nc.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1652269_3t8ii69z1nc.woff2") format("woff2"), url("//at.alicdn.com/t/font_1652269_3t8ii69z1nc.woff") format("woff"), url("//at.alicdn.com/t/font_1652269_3t8ii69z1nc.ttf") format("truetype"), url("//at.alicdn.com/t/font_1652269_3t8ii69z1nc.svg#iconfont") format("svg");
}
#page {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

header {
  width: 100%;
  background-color: #333333;
  padding: 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header .header-main {
  text-align: center;
  width: 200px;
}
header aside {
  margin-left: auto;
  display: flex;
  align-items: center;
}
header aside .qrcode {
  width: 100px;
  height: 100px;
  background-image: url("../static/qrcode.png");
  background-size: cover;
}
header aside a {
  color: #ffffff;
}
header aside a:hover {
  color: #e69191;
}
header aside li {
  display: flex;
  align-items: center;
}
header aside li svg {
  font-size: 1.2em;
  margin-right: 5px;
  margin: 3px 5px 0 10px;
}

.big-header {
  position: relative;
  padding-left: 20px;
  font-weight: bold;
}
.big-header .header-wrapper {
  border-left: 2px solid #333333;
  padding-left: 25px;
  padding-bottom: 10px;
}
.big-header .header-wrapper .main-header {
  font-size: 18px;
}
.big-header .header-wrapper .vice-header {
  font-size: 14px;
  color: #338281;
}
.big-header.experience::before {
  content: "";
  font-family: "iconfont";
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
}
.big-header.information::before {
  content: "";
  font-family: "iconfont";
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
}
.big-header.skills::before {
  content: "";
  font-family: "iconfont";
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
}
.big-header.about-me::before {
  content: "";
  font-family: "iconfont";
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
}
.big-header.not-first {
  margin-top: 27px;
}

.small-header {
  position: relative;
  padding-left: 20px;
}
.small-header.project::before {
  content: "";
  font-family: "iconfont";
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  left: 5px;
  top: -3px;
  background-color: #338281;
}
.small-header.front-end::before {
  content: "";
  font-family: "iconfont";
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  left: 5px;
  top: -3px;
  background-color: #338281;
}
.small-header.back-end::before {
  content: "";
  font-family: "iconfont";
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  left: 5px;
  top: -3px;
  background-color: #338281;
}
.small-header.education::before {
  content: "";
  font-family: "iconfont";
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  left: 5px;
  top: -3px;
  background-color: #338281;
}
.small-header.thumb-up::before {
  content: "";
  font-family: "iconfont";
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  left: 5px;
  top: -3px;
  background-color: #338281;
}
.small-header.note::before {
  content: "";
  font-family: "iconfont";
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  left: 5px;
  top: -3px;
  background-color: #338281;
}
.small-header .main-header {
  border-radius: 5px;
  padding-left: 25px;
  background-color: #333333;
  color: white;
  height: 26px;
  line-height: 26px;
}
.small-header .code-href {
  position: absolute;
  color: #333333;
  background-color: white;
  display: block;
  font-size: 0.8rem;
  border-radius: 5px;
  top: 5px;
  right: 5px;
  padding: 0 5px;
}
.small-header .code-href.back-end {
  right: 90px;
}
.small-header .code-href a {
  color: #333333;
}
.small-header .code-href:hover {
  background-color: #333333;
  color: white;
}
.small-header .code-href:hover a {
  color: white;
}

.content {
  padding-left: 20px;
}
.content .detail-skills {
  color: #338281;
  font-weight: bold;
}
.content .content-wrapper {
  border-left: 2px solid #333333;
  padding-left: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content .content-wrapper .content-header {
  font-weight: bold;
}
.content .content-wrapper .content-main .item {
  position: relative;
  padding-left: 1.5rem;
  font-weight: 540;
  word-break: break-all;
}
.content .content-wrapper .content-main .item::before {
  position: absolute;
  content: "";
  font-family: "iconfont";
  color: #333333;
  position: absolute;
  left: 0px;
  top: 2px;
}
.content .content-wrapper .content-main .item.star::before {
  position: absolute;
  content: "";
  font-family: "iconfont";
  color: #333333;
  position: absolute;
  left: 0px;
  top: 2px;
}
.content .content-wrapper .content-main .item.hat::before {
  position: absolute;
  content: "";
  font-family: "iconfont";
  color: #333333;
  position: absolute;
  left: 0px;
  top: 2px;
}
.content.last {
  position: relative;
}
.content.last::before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  display: block;
  background-color: #333333;
  border-radius: 50%;
  bottom: -14px;
  left: 14px;
}

main.left {
  width: 50%;
  min-height: calc(100vh - 151px);
  padding: 20px 30px 30px 30px;
}

main.right {
  width: 50%;
  padding: 20px 30px 30px 0;
}

@media (max-width: 600px) {
  #page {
    width: 100vw;
    overflow: hidden;
  }

  header .header-main {
    width: 100%;
  }
  header aside {
    margin-top: 15px;
  }

  main.left {
    width: 100%;
    padding: 20px 30px 15px 15px;
  }

  main.right {
    width: 100%;
    padding: 20px 30px 15px 15px;
  }
}

/*# sourceMappingURL=/style.e0c02e61.css.map */